@media screen and (min-width: 576px) {
.sidebar {width: 130px;
    padding: 0px 6px;
}

.side-top {
    padding-top: 20px;
}

.side-center {
    visibility: visible;
}
.side-center , .side-top , li {
    padding-left: 0px;
    margin: 0px;
    margin-top: 10px;
}

.side-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    padding-top: 2px;
    margin: 0;
    gap: 10px;
}

.side-top li:nth-child(2) i::after {
    content: ' Home';
    color: white;
    font-size: 10px;
    margin-left: 2px;
    font-family: 'Montserrat';
}
.side-top li:nth-child(3) i::after {
    content: ' Cerca';
    color: white;
    font-size: 10px;
    margin-left: 2px;
    font-family: 'Montserrat';
}
.side-top li:nth-child(4) i::after {
    content: ' La tua libreria';
    color: white;
    font-size: 10px;
    margin-left: 2px;
   font-family: 'Montserrat';
}

.small-logo {
    display: block;
    display: none;
    width: 25px}

.large-logo {
    display: block;
    max-width: 120px;
}

.side-top{
    margin-top: 15px;
}
.hidden-bar {
    
    display: block; }

    .side-bottom li:first-child i::after {
        content: ' Installa App';
        color: gray;
        font-size: 10px;
        margin-left: 2px;
        font-family: 'Montserrat';
    }

    .side-bottom li:last-child i::after {
        content: ' John Doe';
        color: white;
        font-size: 10px;
        margin-left: 2px;
        font-family: 'Montserrat';
    }


    .now_playing li {
        margin-top: 0px;
    }
    


@media screen and (min-width: 768px) {
    .col {
        flex-basis: 25%;
        
    }
    .col-2 {
       
        flex-basis: 16%;
            
        }
        
    }



@media screen and (min-width: 992px) {
    .col {
        flex-basis: calc(100% / 6 );
       
    }

}