* {
    box-sizing: border-box;
    margin: 0 auto;
}
body {
    max-width: 1080px;
    margin: 0px;
    padding: 0px;
    background-color: blueviolet;
  
    
}

ul {
    list-style-type: none;
    color: white;
    padding-inline-start: 0px
}



/*MAIN*/

main {
    min-height: 100vh;
}
.container{
    max-width: 80%;
    min-height: 500px;
    margin: 100px auto;
    border: 2px dashed;
}

.topbar {
    max-height: 10vh;
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: -205px;
    text-align: right;
    line-height: 10vh;
    z-index: 1;
}
        

.sidebar {
    background-color: black;
    min-width: 5%;
    min-height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    padding-top: 20px;
    padding-bottom: 30px;
    color: white;
    z-index: 2;
}
.bottom {
    display:none ;
    margin-top: 10px;
}

 .cat-flex { 
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}





/*FOOTER*/
footer {
    background-color: brown;
    min-height: 100px;
    min-width: 100%;
    position: sticky;
    bottom: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    z-index: 3;
   

}

.footer-left {
    border: 2px dashed;
    min-width: 60px;
}
.footer-center {
    border: 2px dashed;
    min-width: 60px;
}

.footer-right {
    
  border: 2px dashed;
  min-width: 60px;
}

