* {
    box-sizing: border-box;
    padding: 0 auto;
    margin: 0 auto;
}
body {
    max-width: 1080px;
    margin: 0px;
    padding: 0px;
    
  
   
    font-family: 'Montserrat' , 'sans-serif';}
  

    footer {
        height: 100px;
        background-color: #282828;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    main {
        overflow: auto;
        flex-grow: 1 ;
        background-color: #141922;
    }
    header  {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        height: 80px;
        background-color: rgba(0, 0, 0, 0.7);
        text-align: right;

    }
    button {
        border-radius: 20px;
        border: 1px solid white;
        padding: 4px 8px;
        margin-top: 5px;
        background-color: transparent;
        color: white;
    }

    img {
        max-width: 100%;
    }
    a {text-decoration: none;
        color: #7b7777;
    }
    h3 , h4 ,h5 ,h6 {
        color: white;
    }
    h4 {
        font-size: 12px;
     
    }
    h6 {

        font-size: 10px;
    }

    .gray-txt {
        color: #7b7777;
    }

    
   .sidebar li {
        font-size: 11px;
    }
    .side-center li {
        color: gray;
        font-weight: bold;
    }
    
    
    
    ul {
        list-style-type: none;
        color: white;
        padding-inline-start: 0px
    }

    .top-content {
        height: calc(100vh - 100px);
        background-color: #141922;
        display: flex;
        overflow-y: auto;
        }
    

    .small-logo {
        display: block;
        display: block;
        width: 25px;
    } 
    .large-logo {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
    } 
    .fa-house {
        margin-top: 10px;
    }
    .fa-regular {
        margin-bottom: 8px;
    }
    footer .fa-regular{
        margin: 0;
    
    }
      
    .fa-solid {
        margin-bottom: 8px;
        font-size: 16px;
    }
    .fa-regular {
        margin-bottom: 8px;
        font-size: 16px;
    }
    /*Sidebar*/

    .sidebar {
        flex-shrink: 0;
        width: 30px;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px 3px;
    }
    
    .side-top {
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2px;
   
  
   
    }
   
    
   
    .side-center {
        visibility: hidden;
        display:flex;
        flex-direction:column;
        gap: 10px;
        justify-content: flex-start;
        align-items: flex-start;
        flex-grow: 1;
       
       
    }

   

    .create {
        display: flex;
        align-items: center;
        
    }
    .add {
        
        margin: 2px;
        color: black;
        height: 30px;
        width: 30px;
        background-color: grey;
        text-align: center;
        line-height: 30px;
        font-size: 30px;
        margin-bottom: 5px;
    }
    .
    .side-bottom li {
        margin-left: 0px;
        padding-left: 0px;
        
    }
    .hidden-bar {
        background-color:#7b7777;
        width: 100px;
        border: 1px;
        display: none;    }
/*Categories*/

    .cat-flex { 
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 20px;
    }
    .cat-flex li {
        font-size: 12px;
        color: #7b7777;
        font-weight: 600;
    }

   .cat-flex hr {
        width: 35px;
        border-color: #ADFF2F;
        
    }

    section > h3 {
        margin-top: 20px;
        margin-bottom: 15px;
    }
    /*Card_main_content*/

        .row {
            display: flex;
            flex-wrap: wrap;
            padding: 15px;
        
        }
        
        
        .col {
            flex-basis: 50%;
            margin-bottom: 10px;
        }
        .col-2 {
            flex-basis: calc(100% / 2);
            margin-bottom: 10px;
        }
       
        .card {
            min-width: 130px;
            text-align: center;
            margin-right: 10px;
        }
      
        .mini-square {
          
            max-width: 30px;
        }
        .circle {
            max-height: 170px;
            max-width: 170px;
            border-radius: 50%;
            text-align: center;
        }
       #made_for .square img {
        width: 100%;
        height: auto;
        display: block;
       }

        /*Footer*/
        
        
        
        
        
        .footer-left {
        
            min-width: 60px;
            display: flex;
            gap: 10px;
            margin-left: 2px;
            align-items: center;
            
        
        }
        
       

        .footer-center {
            flex-grow: 1;
           
            min-width: 60px;
            align-self: flex-start;
            margin-top: 20px;
        }
        
        .commands {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        
        }
        .fa-circle-play {
            font-size: 28px;
           
        }
        
        .time-bar {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
         ul .bar {
            background-color:white;
            height: 3px;
            width: 100px;
            border: 1px;
        }
        .footer-right {
            
          min-width: 60px;
        }
        
        .options {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
        .options .fa-solid {
            font-size: 10px;
        }
        .fa-heart , .fa-folder {
            color: #7b7777;
        }
    

 
